@import 'bootstrap';
@import 'bootstrap-icons';

.navbar {
    height: 80px;
}

.img-card {
    aspect-ratio: 1/1.4;
    object-fit: cover;
    object-position: top;
}

.img-card img[src*="interstellar.jpg"] {
    transform: scale(1.1);
}

